In [2]:
fruits = ['apple', 'banana', 'cherry']
fruits.append('orange')
fruits.remove('banana')
print(fruits) #['apple', 'cherry' 'orange']

['apple', 'cherry', 'orange']

In [2]:
Numbers = ['1', '2', '3']
Numbers.append('1000000000000')
Numbers.remove('2')
print(Numbers)

['1', '3', '1000000000000']

In [11]:
list1 = ['3', '6', '9']
list2 = ['G', 'F', 'E']
merged_list = sorted(list1 + list2)
print(merged_list)

['3', '6', '9', 'E', 'F', 'G']

In [16]:
num = float(input("Enter a number:"))
if num>0:
    print("Positive Number")
elif num<0:
    print("Negative Number")
else:
    print("Number is zero")

Enter a number: -6

Negative Number

In [22]:
fruits = ['apple', 'banana', 'cherry']
fruits.append('orange')
fruits.remove('banana')
print(fruits) #['apple', 'cherry' 'orange']
print(fruits[2])

['apple', 'cherry', 'orange']
orange

In [24]:
# Q.1 Create a list of Cars

AmericanCars = ['Ford', 'Jeep', 'Mustang']
JapaneseCars = ['Toyota', 'KIA', 'Hyundai']
ItalianCars = ['Ferrari', 'Lamborgini', 'Pagani']
GermanCars = ['BMW', 'VolkWagen', 'Bugati']

merged_list1 = [GermanCars + AmericanCars]
merged_list2 = [JapaneseCars + ItalianCars]
merged_list3 = [merged_list1 + merged_list2]
JapaneseCars.remove('KIA')

print("This is fine:", merged_list1)
print("This is okay:", merged_list2)
print("This is Perfection:", merged_list3)

This is fine: [['BMW', 'VolkWagen', 'Bugati', 'Ford', 'Jeep', 'Mustang']]
This is okay: [['Toyota', 'KIA', 'Hyundai', 'Ferrari', 'Lamborgini', 'Pagani']]
This is Perfection: [[['BMW', 'VolkWagen', 'Bugati', 'Ford', 'Jeep', 'Mustang'], ['Toyota', 'KIA', 'Hyundai', 'Ferrari', 'Lamborgini', 'Pagani']]]

In [29]:
Dimension = (100, 200)
print(Dimension[1])
Dimension[0] = 250 # It errors because Tuples are immutable

200

TypeError: 'tuple' object does not support item assignment

In [4]:
Dimension = (250, 200)
print(Dimension[]);
Dimension[0] = 250 # It errors because Tuples are immutable

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2721204661.py, line 2)

In [2]:
name = "mit wpu"
print(name.title())
print(name.upper())
print(name.lower())

Mit Wpu
MIT WPU
mit wpu

In [7]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0])
print(bicycles[0].title())
print(bicycles[1])
print(bicycles[3])
print(bicycles[-1])
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles[1])
motorcycles = []
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')
print(motorcycles)

motorcycles.insert(0, 'ducati')
print(motorcycles)

del motorcycles[0]
print (motorcycles)

trek
Trek
cannondale
specialized
specialized
yamaha
['honda', 'yamaha', 'suzuki']
['ducati', 'honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki']

In [8]:
motorcycles = []
motorcycles.append('honda', 'yamaha', 'suzuki') # 'append' only takes one arguement
print(motorcycles)

motorcycles.insert(0, 'ducati')
print(motorcycles)

del motorcycles[0]
print (motorcycles)

TypeError: list.append() takes exactly one argument (3 given)

In [13]:
motorcycles = ['honda', 'yamaha', 'suzuki']
last_owned = motorcycles.pop()
print("The last motorcycles I owned was a", last_owned.title())

first_owned = motorcycles.pop(0)
print("The first motorcycles I owned was a", first_owned.title())

print("The first bike I owned was a", motorcycles[0]) # 'pop' element when given a position, skips it and proceeds to give output of the succeeding arguement

The last motorcycles I owned was a Suzuki
The first motorcycles I owned was a Honda
The first bike I owned was a yamaha

In [15]:
cars = ['BMW', 'Audi', 'Toyota', 'Subaru']
cars.sort()
print(cars)

cars.sort(reverse = True)
print(cars)
len(cars)

['Audi', 'BMW', 'Subaru', 'Toyota']
['Toyota', 'Subaru', 'BMW', 'Audi']

4

In [18]:
alien_o = {}
alien_o['color'] = 'green'
alien_o['points'] = 5
print(alien_o)

#Modifications

alien_o = {'color': 'green'}
print("The alien is:", alien_o['color'])
alien_o['color'] = 'yellow'
print("The alien is now:", alien_o['color'])

{'color': 'green', 'points': 5}
The alien is: green
The alien is now: yellow

In [20]:
nums = {1, 2, 36, 69, 15151515, 69}
nums.add(4)
print(nums)

{1, 2, 36, 69, 4, 15151515}

In [24]:
car = 'Audi'
car == 'BMW'

False

In [25]:
car = 'Audi'
car == 'audi'

False

In [26]:
car = 'Audi'
car.lower() == 'audi'

True